
button, .button {
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 4px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
    border-radius: 4px;
    margin: 3px;
    line-height: 1.8em;
}
