@import url("https://fonts.googleapis.com/css?family=Architects+Daughter");
header {
    background: url(../assets/images/header-bg-left.png) top right repeat;
    font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;

}
header h1 { font-size: 450%; font-weight: 300; margin-top: 0; margin-bottom: 0.2em; letter-spacing: -1px;}
header h2 { font-size: 163%; font-weight: 300; margin-top: 0; margin-bottom: 0; }

body, header { margin: 0; padding: 0; }
header div { margin: 0; padding: 1.6em; }
main, article { margin: 0; padding: 1em; }

header  div {
    background: url(../assets/images/header-bg-right.png) top right repeat-y;
}
header h1 a { color: white; text-decoration: none;}
header h2 { color: #9ddcff; }
/*https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduction_to_HTML/Document_and_website_structure*/
