body { max-width: 57.5em;  padding: 1em; margin-left: auto; margin-right: auto; }
#logo img { padding-left: 1em; }
#logo img, #footer img { border: none; }
#logo img { float: right; }
.jscolor { width: 3.7em; font-family: "Courier New", "Monospace"; font-size: 0.7em; }

#pairs, #threads { width: 27.5em; height: 15em; }
fieldset, .tabs { width: 52em; }
fieldset { margin: 0; margin-bottom: 1em; padding-left: 2em; padding-right: 2em; }
#sheet { width: 56.4em; height: 27em; }
input { width: 3em; }
ul { padding-left: 1.5em; }

#sheet { overflow: scroll; resize:both; } /* IE-9 doesn't resize */
#pairs, #threads { overflow: hidden } /* resize combined with zooming and panning is buggy in firefox */
#pairs, #threads, #sheet, fieldset { border: solid 1px #AAA; }
a img { overflow: hidden; border: solid 1px #AAA; }

a img { vertical-align: middle; margin-bottom: 1em; }
div, input, textarea, #browsers { vertical-align: top;}
form { margin-bottom: 1em }
#sheet { margin-top: 0.2em; }
#pairs, #threads { padding: 0 }
#buttons { border: none; padding: 0; }
#threadFieldSet td { text-align: center }

.tabs { margin-bottom: 0; padding-bottom: 0; }
.activeTab, .inactiveTab {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.activeTab { background-color: #CCCCCC; }
.inactiveTab { background-color: #EEEEEE; }
legend { display: none; }

#pattern, #stitchFiedSet { float: left; margin-right:0.4em; }
#pairs, form { clear: both }
#diagrams { clear: left; margin-top: 0.5em; }

#pairs, #threads, #sheet, fieldset, .show { display: inline-block; }
.hide { display: none }
