main div {
    display: inline-block; overflow: hidden; resize: both;
    width: 300px; height: 300px;
    vertical-align: text-top;
    border: solid 1px #DDD;
    margin-top: 3px;
}
#whiting {display: none; }
input { display: none }
#threadColor, form { display: inline-block }
form { vertical-align: text-top }
