article { max-width: 45em; }
body, article { padding: 1em; margin-left: auto; margin-right: auto; }
.jscolor { width: 3.7em; font-family: "Courier New", "Monospace"; font-size: 0.7em; }

#logo img {
  max-width: 30%;
}
#d0, #d1, #d2, #d3 {
  max-width: 98%;
  width: 144.8em;
  height: 20em;
  padding 0;
  overflow: hidden
}
#d0, #d1 {
  display: inline-block;
  max-width: 48%;
  width: 122.2em;
  height: 15em;
}
form img, #d0, #d1, #d2, #d3{
  border: solid 1px #AAA;
}
label img, legend img {
  border: 0;
}
#matrixOpts {
  padding: 0.2em;
  float: right;
}
#matrixOpts p{
  margin: 0;
}
#matrix {
  margin-left: 0.2em;
}
#matrixOpts, #matrixOpts div {
  display: inline-block;
}
#matrixOpts label {
  display:inline-block;
  width: 4em;
}
#matrixOpts input[type="number"] {
  width: 2.5em;
  text-align: right;
  margin: 0;
}


