li li { padding-bottom:0; }

figure { display: inline-block; margin-left: 0; margin-top: 0; margin-right: 0.5em; margin-bottom: 0; }
figure image, figcaption { display: block; }
figcaption { text-align: center; background-color: #ddd; border-radius: 3px; margin-top: 0.3em; }
figure div { resize:both;overflow:auto;display:inline-block;width:250px;height:250px;max-width:784px;max-height:1082px }

input[type="number"] { width:3em; }
fieldset, fieldset div { display: inline-block; vertical-align: top; }
form { margin-bottom: 1em; }
#diagrams { display: block; }
p { margin-top: 0; margin-bottom: 0.2em; }
p, dt, dd, ul { max-width: 47em; }
td { text-align: center; }
#footer {max-width:100%}
