li li { padding-bottom:0; }
ul ul { padding-left: 1em; }
h1 { font-size: 25px; line-height: 1; }
h2 { font-size: 18px; line-height: 1; }

figure { display: inline-block; margin-left: 0; margin-top: 0; margin-right: 0.5em; margin-bottom: 0; }
figure img, figcaption { display: block; }
figcaption { text-align: center; background-color: #ddd; border-radius: 3px; margin-top: 0.3em; padding-left: 0.5em; padding-right: 0.5em; }
figcaption img { padding-left: 1em; vertical-align: middle; display: inline-block; }
fieldset fieldset figure div { height: 222px; }
.pattern figure { display: inline-block; text-align: center; }
.pattern figure img { padding-top: 0.5em; }
.pattern input {width: 5em}
.pattern textarea {min-width: 4.5em}

#whiting { padding-bottom: 0.5em; padding-left: 4em; }
#prototype, #threadDiagram, #pairDiagram {
  resize:both;
  overflow:auto;
  display:inline-block;
  width:250px; height:250px;
  max-width:784px; max-height:1082px;
  border: solid 1px  #ddd
}
#drosteFieldSet2, #drosteFieldSet3 { text-align: left;  margin-bottom: 0.5em; }
#drosteFields2 textarea { vertical-align: text-top; }
#drosteFields3 textarea { vertical-align: text-top; }
#drostePair2, #drosteThread2, #drostePair3, #drosteThread3 {
  resize:both;
  overflow:auto;
  display:inline-block;
  width:250px; height:130px;
  max-width:784px; max-height:1082px;
  border: solid 1px  #ddd
}

foreignObject{ margin:0; padding:0; width: 1px; height: 1px; overflow: visible }
foreignObject input {
  vertical-align: top; width: 5px;
  font-size: 5px;
  border: 0; padding: 0;
  margin: 0; margin-top: 2px; margin-left: -1px;
  opacity: 0.05; background-color: #ff0;
}
foreignObject input:focus { opacity: 1; width:30px; padding: 1px; padding-left: 2px; }

input[type="number"] { width:3em; }
fieldset, fieldset div { display: inline-block; vertical-align: top; }
form { margin-bottom: 1em; }

p { margin-top: 0; margin-bottom: 0.5em; }
p, dt, dd, ul { max-width: 46.5em; }
td { text-align: center; vertical-align: top; padding-right: 0.5em}
#footer {max-width:100%}

img { max-width: 100% }

fieldset ul { margin: 0 }

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 140px;
    background-color: #f3f3f3f3;
    border: 2px solid #bbb;
    color: #000;
    padding: 5px;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
}
