/* inspired by http://www.menucool.com/tooltip/css-tooltip */
.legend,
.drag span {
    z-index: 10;
    display: none;
    padding: 0.5em;
    box-shadow: 0px 0px 8px 4px #666;
    border-radius: 0.5em;
    opacity: 0.96;
    position: absolute;
    border: 2px solid #FFF;
    color: #000;
    background: #CCC;
    width:auto;
}
.matrixOpts:hover .legend,
.drag:hover span {
    display: inline;
}
/* variations */
.legend {
    margin-top: 6.6em;
    margin-left: -22em;
    width: 335px;
}
.drag span {
    margin-top: 4.0em;
    margin-left: -0.6em;
    border-top-left-radius: 0;
}
