figure { display : inline-block; margin-right: 1em; }
figcaption svg { vertical-align: middle; margin-right: 0.2em; }

/* you might want to adjust GF_P2T.gap together with the stroke width */
.kiss_even, .kiss_odd { stroke-width: 4; fill: none; }
.thread_0 {stroke: rgb(146, 197, 222)}
.thread_1 {stroke: rgb(5, 113, 176)}
.thread_2 {stroke: rgb(202, 0, 32)}
.thread_3 {stroke: rgb(244, 165, 130)}
.link { stroke-width: 2; stroke: #bbbbbb; }
circle { fill: black; opacity: 0.15 }

 /*.kiss_even  {stroke: rgb(202, 0, 32); }*/
 /*.kiss_odd {stroke: rgb(5, 113, 176); }*/

 /* pick any number for debugging de pair diagram */
 /*#templatePairs .kiss_5, #templateThreads .kiss_0 {stroke: aqua; }*/
